.page-header {
  background-image: url('./assets/work-desk__dustin-lee.jpg');
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px;
  position: absolute;
  top: 10px;
  left: 15px;

}

.hello {
  color: white;
  text-align: center;
}

.btn {
  background-color: transparent;
  border-color: white;
  color: white;
  font-size: 0.9375em;
  padding: 0.5375em 1.375em;
}

.btn:hover {
  background: white;
  color: gray;
  border-color: white
}

.highlight {
  background-color: lightgrey;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.help {
  text-align: center;
  margin-top: 30px;
}

.footer {
  background-color: black;
  color: white;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}